<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR 404!</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/weather.png">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <div style="text-align:center;">
            <img class='error' src="/images/error404.png" style="width=500px;" alt="Error 404">
        </div>
        <p>{{message}}</p>
    </div>
    {{>footer}}
</body>
</html>